@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-section {
  margin-left: 25vw;
  margin-right: 25vw;
}

.keygen-step {
  text-align: center;
}

.keygen-title {
  font-weight: bold;
}

button {
  display: block;
  // margin: auto;
  margin: 1vw;
}
