@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.keygen-step {
  text-align: center;
}

.keygen-title {
  font-weight: bold;
}

button {
  display: block;
  margin: 1vw;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem;
}

._loading_overlay_wrapper {
  position: unset !important;
}

.input {
  max-width: 455px;
}
