@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.keygen-step {
  text-align: center;
  margin-top: -48px;
}

.keygen-title {
  font-weight: bold;
}

button {
  display: block;
  margin: 1vw;
}

._loading_overlay_overlay {
  position: fixed !important;
}

.footer {
  flex: 1;
}

.key-text {
  overflow-wrap: break-word;
}

.generate-new-key {
  padding-top: 25px;
}

.copy-button {
  display: inline;
  margin: 5px;
}

.fa-copy:before {
  content: "\f0c5";
}

._loading_overlay_wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.input {
  max-width: 455px;
}

// bulma overrides
.card {
  max-width: 1096px;
  margin: auto;
  padding: 31px;
}
